/*template styles*/
html, body, #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

label {
    font-weight: normal;
	font-size: 14px !important;
}

#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}


.navbar{
	
	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.5);
    box-shadow: 0 -1px 5px rgba(0,0,0,0.5);
    opacity: 0.9;
    filter: alpha(opacity=90); /* IE 7 and Earlier */
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}

.navbar-footer{
    height: 18px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}

.navbar .navbar-brand {
    /*font-weight: bold;*/
    font-size: 20px;
    /*color: white;*/
    white-space: nowrap;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

.leaflet-popup-content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
	font-size: 12px;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-top {
    top: 50px;
}

.leaflet-bottom{
    bottom: 18px;

}

/*mouse coords*/

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  bottom: -10px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
    
}
@media (max-width: 767px){
    
    .url-break {
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .dropdown-menu a i{
        color: #FFFFFF;
    }

	body {
		padding-bottom: 0px;
	}

    .leaflet-bottom{
        bottom: 0px !important;
    }

}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}

/*app styles*/

.logo{
	float:left;
	padding-top: 5px;
	padding-left: 5px;
}

