html, body {
    height: 100%;
}

* {
    background-color: lightgrey;
}

#parent {
    display: grid;
    grid-template-columns: auto 80% auto;
    height: 80%;
}

#image {
    /* max-width: 100%; */
    width: 90%;
}

.arrow-container {
    background: ddd;
}

.arrow {
    width: 100%;
}

.arrow-btn {
    display: inline;
    height: 50px;
    width: 50px;
}

#feedback {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback-btn {
    height: 60px;
    background-color: darkred;
    border-radius: 5px;
    height: 80px;
    width: 100px;
    border: none;
    font-color: white;
    color: white;    
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback {
    text-align: center;
}