<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Storm Data</title>
</head>
<body>

    <div>Storm name</div>

    <div>Overwash Extents</div>

    <div>ML Observations</div>

    <div>Forecast Tracks</div>

    
</body>
</html>