<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Viewer</title>
    <link rel="stylesheet" href="../public/css/viewer.css">
</head>
<body>
    <div id="parent"">
        <div id="child1" class="c arrow"><button onclick="prev_image()"><img src="../public/images/left_arrow.png" alt=""></button></div>
        <div id="child2" class="c image"><img id="image" src="../public/images/test.png" alt=""></div>
        <div id="child3" class="c arrow"><button onclick="next_image()"><img src="../public/images/right_arrow.png" alt=""></button></div>
    </div>
    <div id="feedback"><button id="feedback-btn">do you see washover?</button></div>
    <script src="../public/js/viewer.js"></script>
</body>
</html>