<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Viewer</title>
    <link rel="stylesheet" href="../public/css/viewer.css">
</head>
<body>
    <div id="parent" style="background-color: red;">
        <div id="child1" class="c arrow" style="background-color: blue"><span>c1</span></div>
        <div id="child2" class="c image" style="background-color: green;"><span>child 2</span></div>
        <div id="child3" class="c arrow" style="background-color: orange;"><span>c3</span></div>
    </div>
    <div id="feedback">do you see washover?</div>
</body>
</html>