<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storm Impact Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <style>
        html, body, #mapid {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>Map</h1>
    <div id="mapid"></div>
    
    <script>
        // Initializes the map container (lat, long, zoom)
        const mymap = L.map('mapid').setView([35, -80], 5);

        // Define the tile laer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(mymap);

      // show the scale bar on the lower left corner
      L.control.scale().addTo(mymap);

      // show a marker on the map
      L.marker({lon: -80, lat: 35}).bindPopup('North Carolina').addTo(mymap);

      // refer to http://flask.pocoo.org/docs/templating/#standard-filters for understanding of code
      const test = '{{test|tojson|safe}}'
      console.log(test);


    
    </script>
</body>
</html>